# Copyright 2025 xeraph. All rights reserved.
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

CompileFlags:
  Add: [-xc, -std=c99, -Wall, -Werror, -Wextra, -pedantic]
